<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="WebSocketBaseUrl" value="wss://stream.binance.com:9443/ws" />
        <add key="ProxyUrl" value="http://127.0.0.1:10809" />
        <add key="ProxyUsername" value="" />
        <add key="ProxyPassword" value="" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="lib/DapperEx;" />
        </assemblyBinding>
    </runtime>
</configuration>